<div mat-dialog-title>
    <h1>Schedule Form</h1>
</div>
<form [formGroup]="scheduleForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Gym" formControlName="description">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="half-width" appearance="fill">
                <mat-label>Donwtime Start</mat-label>
                <input
                  matInput
                  placeholder="dd.MM.yyyy hh:mm"
                  formControlName="date"
                  type="datetime-local"
                  required
                  tabindex="1"
                />
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
        </div>
        <div class="row" *ngIf="data">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Done</mat-label>
                <input matInput type="text" formArrayName="done">
            </mat-form-field> -->

            <mat-form-field appearance="outline">
                <mat-label>Done</mat-label>
                <mat-select formControlName="done">
                    <mat-option [value]=""></mat-option>

                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>             

            </mat-form-field>
        </div>


    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>